/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron {
  background-color: #fbc8d9;
}

#main_2 .carousel-inner img {
  max-height: 70vh;
}
